 body {
     background-image: url("../images/backgound-lightgray.jpg");
 }

 .myNameHeader {
     margin-left: 150px;
     margin-right: 800px;
     margin-top: auto;
     padding: 10px 30px;
     background-color: #4aaaa5;
     color: #ffffff;
 }

 main {
     background-color: #ffffff;
     width: 960px;
     margin-left: auto;
     margin-right: auto;
     border: solid #dddddd
 }

 .navLinks {
     float: right;
     padding-right: 150px;
 }

 .myHeadShot {
     height: 200px;
     width: 200px;
 }

.copyRight {
    background-color: #666666;
    height:44px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    
    
}