 body {
     background-image: url("../images/backgound-lightgray.jpg");
     margin: 0px;
     padding: 0px;
 }

 .myNameHeader {
     margin-left: 150px;
     width: 300px;
     margin-top: auto;
     height: 55px;
     padding: 15px 30px;
     background-color: #4aaaa5;
     color: #666666;
     font-family: 'Georgia', Times, Times New Roman, serif;
     line-height: 1.5;
 }

 form {
     font-family: 'Georgia', Times, Times New Roman, serif;
     color: lightgray;
     padding: 20px;
 }

 .submitButton {
     color: white;
     background-color: #4aaaa5;
     height: 30px;
     width: 80px;
     margin: 20px;
 }

 button {
     color: white;
     background-color: #4aaaa5;
     height: 30px;
     width: 80px;
     margin-left: 20px;
     margin-bottom: 20px;
 }

 input {
     padding: 5px;
 }

 textarea {
     width: 100%;
     height: 150px;
   
 }

 header {
     background-color: #ffffff;
     height: 85px;
     border-bottom: solid #dddddd;
     margin-bottom: 45px;
 }

 main {
     background-color: #ffffff;
     width: 850px;
     margin-left: 150px;
     margin-right: 0 auto;
     margin-bottom: 0 auto;
     border: solid #dddddd;
     padding-right: 20px;
     overflow: hidden;
 }

 .paragraphAboutMe {
     margin-left: 26px;
     padding-bottom: 200px /*delete*/
 }

 .navLinks {
     float: right;
     padding-right: 26px;
     margin-top: 8px;
 }

 .borderRight {
     border-right: 2px solid #dddddd;
 }

 a {
     font-family: 'Georgia', Times, Times New Roman, serif;
     color: #dddddd;
     text-decoration: none;
     margin: 3px;
 }

 .aboutMeHeader {
     font-family: 'Georgia', Times, Times New Roman, serif;
     color: #4aaaa5;
     margin-left: 26px;
     border-bottom: 2px solid lightgray;
 }

 .myHeadShot {
     height: 123px;
     width: 123px;
     /*padding-top: 26px;*/
     margin-left: 26px;
     padding-right: 8px;
     padding-bottom: 1px;
     float: left;
 }

 .copyrightBox {
     width: 100%;
     position: absolute;
     left: 0 auto;
     bottom: 0 auto;
     background-color: #666666;
     text-align: center;
     /*vertical-align: baseline; this is not doing anything*/
     height: 44px;
     border-top: solid #4aaaa5 9px;
     line-height: 10px;
     top: 100%;
 }

 a:hover {
     background-color: #86ccc8;
 }

 /*this is for the Portfolio page*/

 .placeholder {
     height: 250px;
     width: 250px;
 }

 .placeholder1 {
     height: auto;
     width: 240px;
     padding: 5px;
     background-color: #666666;
     position: absolute;
     top: 419px;
     text-align: center;
 }

 

